body {
  margin: 0;
}
#wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}
#list li {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#list .li_1 {
  background-image: url(img/img_1.jpg);
}
#list .li_2 {
  background-image: url(img/img_2.jpg);
}
#list .li_3 {
  background-image: url(img/img_3.jpg);
}
#list .li_4 {
  background-image: url(img/img_4.jpg);
}
#list .li_5 {
  background-image: url(img/img_5.jpg);
}
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  top: 0;
  height: 100%;
  width: 10px;
  justify-content: center;
}
.nav a {
  width: 10px;
  height: 10px;
  margin: 4px 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.nav .active {
  background: rgba(255, 255, 255, 1);
}
