<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./node_modules/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>

    <script>
      Vue.component("Foo", {
        components: {},
        props: ["visible"],
        data() {
          return {};
        },
        model: {
          // prop -> value
          // event -> input
          prop: "visible",
          event: "close",
        },

        methods: {
          handleClose() {
            // this.$emit("close");
            this.$emit("close", false);
          },
        },
        template: `
            <div v-if="visible"> foo
              {{visible}}
                <button @click="handleClose">close</button>
              </div>
          `,
      });
      // sync

      // 根组件
      const app = new Vue({
        el: "#app",
        template: `
            <div>
                {{msg}}
                <button @click="handleShowFoo">
                    showFoo
                  </button>
                <Foo v-model="showFoo" ></Foo>
            </div>
        `,

        // value -> input
        data() {
          return {
            msg: "hello",
            showFoo: false,
          };
        },
        methods: {
          handleShowFoo() {
            this.showFoo = true;
          },
          handleClose() {
            this.showFoo = false;
          },
        },
      });
    </script>
  </body>
</html>
